<div class="col-md-6 col-md-offset-3">
  <div class="login-panel panel panel-default">
      <div class="panel-heading panel-title">
          Login
      </div>

      <div class="panel-body">
          <form (submit)="submit()" role="form" name="login" [formGroup]='form'>
              <fieldset>
                  <ng-content></ng-content>
                  <div class="form-group">
                      <label for="email">Email <a  routerLink="/identity//register" routerLinkActive="active">(Create account)</a></label>
                      <input class="form-control col-sm-6" placeholder="E-mail" name="email" type="email" formControlName="userName" autofocus required>
                  </div>
                  <div class="form-group">
                      <label for="password">Password <a  routerLink="/identity/passwordforgot" routerLinkActive="active">(forgot password)</a></label>
                      <input class="form-control" placeholder="Password" name="password" type="password" formControlName="password" required>
                  </div>
                  <!--<div class="checkbox">
                      <label>
                          <input name="remember" type="checkbox" value="Remember Me" data-ng-model="model.remember">Remember Me
                      </label>
                  </div>-->
                  <!-- Change this to a button or input when using this as a form -->
                  <button type="submit" class="btn btn-sm btn-success" [disabled]="!isReady()">Login</button>
              </fieldset>
          </form>
      </div>
  </div>
</div>
